{# <h3>Compte créé avec succès</h3> #}

Cher(e) {{ name }},

Bienvenue dans <b>Ametcity</b>.
<a href="{{ url('app_user_activate', {'key': key}) }}">Merci de cliquer sur ce lien pour activer votre compte.</a>

Cordialement!